*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font: normal 62.5%/1.4;
    font-family: sans-serif, "fira code";
    text-align: center;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #222;
}

h1 {
    font-size: 1.75rem;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}

.avatar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    border: 1px solid red;
    border-radius: .25rem;
    width: 50vw;
    margin-top: 2rem;
    padding: 2rem;
}

.avatar {
    margin: 0.4rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-clip: padding-box;
    background-position: 50% 50%;
}

.avatar.placeholder {
    background-color: transparent;
    border: 1px dashed #999;
}
