/* Reset */
html {
    box-sizing: border-box;
    font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
button,
input,
label {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Variables */
:root {
    --blurple: hsl(235, 86%, 65%);
    --discord-black: #23272a;
    --border-width: 1px;
    --aside-text: hsl(214, 8, 49);
    --avatar-border-color-dk: hsl(231, 5%, 53%);
    --avatar-bg-color-lt: hsl(0, 0%, 100%);
    --avatar-bg-color-dk: hsl(222, 6%, 20%);
    --modal-outer-bg-color: hsla(220, 6%, 20%, 0.6);
}

/* Fonts */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.3;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.02rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

small {
    font-size: 0.9rem;
}

p + p {
    margin-top: 0.8rem;
}

p {
    font-size: 1rem;
}

p.tagline {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
}

aside p {
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    color: var(--aside-text);
}

aside > p + p {
    margin-top: -0.25rem;
}

/* Layout */
body {
    font-family: "Noto Sans Display", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    background-color: var(--discord-black);
    color: hsl(0, 0%, 97%);
    overflow-x: hidden;
}

header,
main,
aside,
footer,
.page-wrapper,
.instructions-wrapper,
.theme-wrapper,
#avatar-uploader-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    gap: 1.5rem;
}

.page-wrapper {
    height: 100vh;
    margin: 0 calc(-50vw + 50%);
    max-width: none;
}

.theme-wrapper,
button#remove-previews-button {
    display: none;
}

.theme-wrapper,
#avatar-uploader-form {
    flex-direction: row;
}

.navigation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    background-color: aqua;
    z-index: 999;
    width: 100%;
    max-width: 675px;
    border-radius: 1rem 1rem 0 0;
}

header {
    gap: 0;
}

main {
    min-height: 30vh;
}

aside {
    gap: 0;
}

/* Hide input field to use label as button */
input[type="file"] {
    display: none;
}

label {
    background: var(--blurple);
}

button#remove-previews-button {
    background-color: var(--discord-black);
}

/* // Buttons */
/* Upload & reset Buttons */

label {
    display: flex;
}

label,
button#remove-previews-button {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 1.25rem;
    color: var(--avatar-bg-color-lt);
    border: var(--border-width) solid var(--blurple);
    border-radius: 2rem;
    height: 50px;
    width: 160px;
    transition: 200ms ease-in;
}

label:hover,
button#remove-previews-button:hover,
label:focus,
button#remove-previews-button:focus {
    color: #ffffff;
    border: var(--border-width) solid var(--blurple);
    background: linear-gradient(180deg, #7289da 5%, var(--blurple));
    cursor: pointer;
    transition: 250ms ease-in;
    transform: translate(0, -2px);
    box-shadow: hsl(223, 100%, 5%) 0px 8px 15px, hsl(226, 100%, 17%) 0px 20px 30px;
}

label:active,
button#remove-previews-button:active {
    box-shadow: hsl(223, 100%, 5%) 0px 8px 15px, hsl(226, 100%, 17%) 0px 20px 30px,
        hsl(226, 100%, 17%) 0px 2px 10px inset;
}

.input-wrapper {
    position: relative;
}

.input-wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

input[type="file"]:disabled + .choose-avatars {
    opacity: 0.5;
    background: none;
    background-color: gray;
    cursor: not-allowed;
    border: none;
    transition: none;
    transform: none;
    box-shadow: none;
}

/* Remove buttons for individual avatars */
button.remove-button {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: none;
    color: transparent;
    transition: 200ms ease-in;
}

button.remove-button:hover {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    background-color: hsla(0, 0%, 0%, 0.8);
    color: #fff;
    cursor: pointer;
    transition: 200ms ease-in;
}

/* Modal Button */
button.open-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 1.5rem;
    color: var(--avatar-bg-color-lt);
    border: var(--border-width) solid var(--blurple);
    border-radius: 0.5rem 0.5rem 0 0;
    background: var(--blurple);
    height: 6rem;
    width: 6rem;
    padding: 2rem;
    transition: 300ms ease-in-out;
}

button.open-modal:hover {
    cursor: pointer;
    transition: 300ms ease-in-out;
    transform: translate(0, -2px);
    box-shadow: hsla(235, 100%, 50%, 0.718) 0px 0px 9px;
    background-color: var(--discord-black);
    border-color: hsla(235, 94%, 36%, 0.718);
}

/* Avatar Previews */
.avatar {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-clip: padding-box;
    background-position: 50% 50%;
}

.placeholder {
    background-image: url(https://cdn.discordapp.com/embed/avatars/1.png);
    background-color: var(--avatar-border-color-dk);
    border: none;
}

/* Avatar Containers */
#avatar-preview-light {
    background-color: var(--avatar-bg-color-lt);
}

#avatar-preview-dark {
    background-color: var(--avatar-bg-color-dk);
}

.avatar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    grid-auto-flow: row;
    margin-top: 0.5rem;
    grid-template-areas:
        ". . . . ."
        ". . . . .";
    border-radius: 0.5rem;
    border: var(--border-width) solid var(--blurple);
    padding: 1.5rem 1.5rem;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    cursor: pointer;
    background-color: var(--modal-outer-bg-color);
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
}

.modal-wrapper {
    position: relative;
    max-width: 90vw;
    max-height: 80vh;
    border-radius: 5px;
    background-color: var(--blurple);
    overflow: auto;
    cursor: default;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: none;
}

.modal-header .close-modal {
    font-size: 1.5rem;
}

.modal-wrapper > * + * {
    margin-block-start: 0.5rem;
}

.modal-header > h2 {
    margin-top: 0rem;
}

/* Responsiveness for small screens */
@media (max-width: 768px) {
    html {
        overflow: hidden;
    }

    body {
        overflow-x: hidden;
        position: relative;
        margin: 0;
        padding: 0;
    }
    header,
    main,
    aside,
    footer,
    .instructions-wrapper,
    .theme-wrapper,
    .avatar-uploader,
    .page-wrapper {
        max-width: 90vw;
        gap: 1.5rem;
    }

    header,
    aside {
        gap: 0.25rem;
    }

    .page-wrapper {
        height: 100vh;
        margin: 0 calc(-50vw + 50%);
        max-width: none;
    }

    .theme-wrapper {
        flex-direction: row;
    }

    .theme-wrapper {
        flex: 0 1 50%;
        flex-wrap: wrap;
    }

    .avatar-container {
        width: calc(90vw - 3.5rem);
    }

    .modal-button {
        position: fixed;
        right: 0.65rem;
        bottom: 0.65rem;
        z-index: 999;
    }

    button.open-modal {
        border-radius: 6rem;
        height: 4rem;
        width: 4rem;
        padding: 3rem;
        transition: 300ms ease-in-out;
    }
}

@media (max-width: 380px) {
    h1 {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 1rem;
    }

    header,
    aside {
        gap: 0;
    }

    .avatar-container {
        gap: 0rem;
        margin: 0.25rem;
    }

    #avatar-uploader-form,
    .page-wrapper {
        gap: 0.5rem;
    }
}
