@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

html {
    box-sizing: border-box;
    font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
button,
input,
label {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    --blurple: hsl(235, 86%, 65%);
    --discord-black: #23272a;
    --border-width: 1px;
    --avatar-border-color-lt: hsl(234, 4%, 45%);
    --avatar-border-color-dk: hsl(231, 5%, 53%);
    --avatar-bg-color-lt: hsl(0, 0%, 100%);
    --avatar-bg-color-dk: hsl(222, 6%, 20%);
}

body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    background-color: var(--discord-black);
    color: hsl(0, 0%, 97%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Fonts */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 3rem 0 1.38rem;
}

h1 {
    margin-top: 0;
    font-size: 2.488rem;
}

h2 {
    font-size: 2.074rem;
}

h3 {
    font-size: 1.728rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.2rem;
}

small,
.text_small {
    font-size: 0.833rem;
}

p + p {
    margin-top: 0.8rem;
}

.tagline {
    margin-top: .2rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    border-radius: 1rem;
    padding: 2rem;
    height: 82vh;
}

input[type="file"] {
    display: none;
}

#avatar-uploader-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

label,
button#remove-previews-button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--avatar-bg-color-lt);
    border: 1px solid var(--blurple);
    border-radius: 2rem;
    background: #23272a;
    margin: 0.5rem;
    height: 2rem;
    width: 6rem;
    padding: 0.5rem 1rem;
}

label:hover,
button#remove-previews-button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 1rem;
    color: #ffffff;
    border: 1px solid var(--blurple);
    border-radius: 2rem;
    background: var(--blurple);
    margin: 0.5rem;
    height: 2rem;
    width: 6rem;
    cursor: pointer;
    transition: 300ms ease-in-out;
    transform: translate(0, -2px);
    box-shadow: rgba(7, 16, 110, 0.44) 0px 2px 9px;
    padding: 0.5rem 1rem;
}

.input-wrapper {
    position: relative;
}

.input-wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

input[type="file"]:disabled + .choose-avatars {
    opacity: 0.5;
    background-color: gray;
    cursor: not-allowed;
    border: none;
}

button.remove-button {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: transparent;
    font-weight: bold;
}

button.remove-button:hover {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 0.45rem;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: hsla(0, 0%, 0%, 0.8);
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.theme-wrapper {
    display: flex;
    flex-direction: row;
}

#avatar-preview-light {
    background-color: var(--avatar-bg-color-lt);
    border: var(--border-width) solid var(--blurple);
}

#avatar-preview-dark {
    background-color: var(--avatar-bg-color-dk);
    border: var(--border-width) solid var(--blurple);
}

.avatar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.1rem 0.1rem;
    grid-auto-flow: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        ". . . . ."
        ". . . . .";
    border-radius: 0.5rem;
    margin: 0.5rem 1rem;
    padding: 1rem 1.25rem;
}

.avatar {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-clip: padding-box;
    background-position: 50% 50%;
}

.placeholder {
    background-image: url(https://cdn.discordapp.com/embed/avatars/1.png);
    background-color: var(--avatar-border-color-dk);
    border: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: flex-start;
}

.page-footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.open-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--avatar-bg-color-lt);
    border: 1px solid var(--blurple);
    border-radius: 2rem;
    background: #23272a;
    margin: 0.5rem;
    height: 2rem;
    width: 6rem;
    padding: 0.5rem 1rem;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal.is-visible {
    display: flex;
    justify-content: center;
    visibility: visible;
    opacity: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 4rem;
}

div.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding: 1rem;
    background: var(--avatar-bg-color-dk);
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header .close-modal {
    font-size: 1.5rem;
}

/* Responsiveness for smaller screens */
@media (max-width: 768px) {
    body {
        padding: 0.25rem;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        border-radius: 1rem;
        padding: 0.5rem;
        height: 82vh;
    }

    .theme-wrapper {
        flex: 0 1 50%;
        flex-wrap: wrap;
    }
}
